body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.logo {
  width: 150px;
  height: 100px;
}

.login_form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login_form input, .login_form button {
  width: 300px;
  height: 55px;
  border-radius: 18px;
  padding: 15px;
  font-size: 18px;
}

.login_form button{
  background-color: #E85869;
  color: white;
}

.sign_up_section {
  display: flex;
  align-items: center;
}

.has_not_signed_up {
  color: #A0A0A0;
  font-size: 17px;
}

.sign_up_button {
  border: 0;
  box-shadow: none;
  background-color: transparent;
  text-decoration: underline;
  color: #808080;
  font-size: 17px;
}

