body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* navbar */
.navbar {
  width: 100%;
  background-color: #ff8080;
  height: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav1 {
  float: left;
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav2 {
  float: left;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search {
  height: 50px;
}

.search-box {
  width: 550px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.search-box input#search {
  box-shadow: 0 0 5px 0 #E7E6E6;
  width: 550px;
  height: 50px;
  background: white;
  border: none;
  font-size: 10pt;
  color: black;
  padding-left: 45px;
  border-radius: 15px;
}

.search-box .icon {
  position: absolute;
  margin-top: 17px;
  margin-left: 17px;
  color: Grey;
}

.nav3 {
  float: left;
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: lighter;
  font-size: 15px;
}

.navbar ul {
  float: right;
}

.navbar li {
  margin-left: 15px;
  list-style-type: none;
  float: left;
}


/* topbar */
.topbar {
  width: 100%;
  height: 240px;
  background-color: #fff7bc;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding-top: 50px;
}

.back-icon {
  color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 10%;
  left: 5%;
}

/* photo-container */
.photo-container {
  position: relative;
}

.restaurant-image {
  width: 30vw;
  height: 19vw;
  border-radius: 25px;
  background-color: lightgray;
  object-fit: cover;
}

.vegan-badge {
  width: 5vw;
  height: 5vw;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

/* restaurant-info-section */
.restaurant-info-section {
  width: 50%;
  margin-top: 8vw;
}

.section-top {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.restaurant-name-and-ratings {
  display: flex;
  gap: 15px;
}

.restaurant-name {
  font-size: 25px;
}

.ratings {
  height: 25px;
}

.buttons-container {
  display: flex;
  gap: 15px;
}

.buttons-container button {
  background-color: white;
  box-shadow: none;
  border: 0;
  padding: 0;
}

.buttons-container img {
  width: 30px;
  height: 30px;
  box-shadow: none;
  object-fit: cover;
}

.dividing-line {
  margin: 20px 0;
}

/* restaurant-details */
.restaurant-details {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  gap: 5px;
  font-size: 19px;
}

.hashtags {
  display: flex;
  margin: 5px 0 15px 0;
  gap: 10px;
}

.restaurant-details > div {
  display: flex;
  align-items: center;
  color: #767171;
}

.restaurant-details img {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  object-fit: cover;
}

.reservation {
  margin-left: 15px;
  border: 0;
  box-shadow: none;
  background-color: transparent;
  font-size: 17px;
  color: #AFABAB;
}

.menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: xc;
  padding-left: 45px;
  margin-top: 5px;
}

.menu-list li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #767171;
  border-bottom: 2px solid #E7E6E6;
  padding: 7px 0;
}

.add-menu-container {
  width: 100%;
  display: flex;
  padding: 7px 0;
}

.add-menu {
  box-shadow: none;
  border: 0;
  background-color: transparent;
  color: #AFABAB;
  font-size: 15px;
  padding: 0;
}

.see-menu-list-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 7px 0;
}

.see-menu-list {
  box-shadow: none;
  border: 0;
  background-color: transparent;
  color: #767171;
  font-size: 18px;
  padding: 0;
}


/* comments_section */
.comments-section {
  width: 50%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form {
  width: 100%;
}

form h4 {
  margin-left: 10px;
  color: #767171;
  font-size: 19px;
}

form textarea {
  width: 100%;
  height: 100px;
  box-shadow: 0 0 5px 0 #E7E6E6;
  border: 1px solid #E7E6E6;
  resize: none;
  border-radius: 20px;
  padding: 15px;
  margin: 10px 0;
}

textarea::placeholder {
	color: #AFABAB;
  font-size: 16px;
}

.submit-button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.submit-button {
  background-color: #FD5D5D;
  color: white;
  padding: 5px 12px;
  border-radius: 7px;
  font-size: 15px;
}


/* comments-list */
.comments-list {
  width: 100%;
}

.comments-list > li {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid #E7E6E6;
  padding-top: 10px;
}

.profile-img-container {
  min-height: 90px;
  display: flex;
  flex-direction: column;
}

.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #E7E6E6;
}

.nickname-and-content {
  min-height: 90px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
}

/* page-nav */
.page-move-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}

.page-nav {
  height: 100px;
  width: 215px;
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

ul.page > li {
  padding: 10px;
}

.page {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.page li {
  font-size: 19px;
}

.End {
  color: rgba(0, 0, 0, 0.3);
}

.another-page {
  color: rgba(0, 0, 0, 0.3);
}


