/* 네비게이션 바 */
.navbar {
    background-color: #ff8080;
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
  
.nav1 {
    float: left;
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo img {
    width: 100px;
    height: 55px;
}
  
.nav2 {
    float: left;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
  
.fa-solid{
    box-shadow: none;
    all: unset;
}

.search {
    height: 50px;
}
  
.search-box {
    width: 550px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}
  
.search-box input#search {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    width: 550px;
    height: 50px;
    background: white;
    border: none;
    font-size: 10pt;
    color: black;
    padding-left: 45px;
    border-radius: 15px;
}
  
.searchicon {
    position: absolute;
    margin-top: 17px;
    margin-left: 15px;
    color: Grey;
}
  
.nav3 {
    float: left;
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
  
.navbar a {
    text-decoration: none;
    color: white;
    font-weight: lighter;
    font-size: 15px;
}
  
.navbar ul {
    float: right;
}
  
.navbar li {
    margin-left: 15px;
    list-style-type: none;
    float: left;
}
