* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(#ff8080 60%, #fff 40%);
}

.navbar {
  background-color: #ff8080;
  height: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav1 {
  float: left;
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logo img {
  width: 100px;
  height: 55px;
}

.nav2 {
  float: left;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav3 {
  float: left;
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: lighter;
  font-size: 15px;
}

.navbar ul {
  float: right;
}

.navbar li {
  margin-left: 15px;
  list-style-type: none;
  float: left;
}

.upper {
  height: 350px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.criteria {
  position: relative;
  width: 3px;
  height: 3px;

  justify-content: center;
}

.map {
  padding-top: 40px;
  height: 350px;
  width: 575px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 50px;
}

.mapbtn_sch {
  position: absolute;
  top: -10px;
  left: -107px;
  z-index: 50;
  clip-path: polygon(6% 99%, 100% 86%, 91% 33%, 90% 24%, 91% 18%, 94% 10%, 91% 0, 76% 0, 68% 0, 62% 3%, 50% 18%, 44% 18%, 45% 27%, 34% 41%, 31% 34%, 24% 36%, 23% 43%, 25% 54%, 16% 63%, 8% 69%, 1% 72%, 0 80%, 3% 85%);
}

.mapbtn_sin {
  position: absolute;
  right: 102px;
  top: 42px;
  clip-path: polygon(76% 0, 68% 8%, 55% 10%, 46% 13%, 37% 12%, 27% 13%, 27% 18%, 17% 23%, 9% 32%, 4% 44%, 2% 56%, 0 60%, 22% 59%, 13% 70%, 95% 99%, 100% 98%, 91% 53%, 95% 49%, 96% 39%, 87% 31%, 79% 0);
}

.mapbtn_idae {
  position: absolute;
  top: 132px;
  z-index: 100;
  left: -95px;
  clip-path: polygon(0 23%, 2% 55%, 64% 96%, 69% 83%, 74% 90%, 78% 61%, 82% 61%, 84% 48%, 87% 42%, 100% 3%, 83% 7%, 84% 0, 69% 1%, 69% 9%);
}


.mapbtn_back {
  position: absolute;
  top: -34px;
  left: -117px;
  z-index: 1;
  clip-path: polygon(100% 19%, 14% 100%, 0% 43%, 22% 18%, 20% 16%, 17% 12%, 15% 8%, 17% 4%, 20% 0%, 27% 0, 32% 5%, 42% 0, 100% 17%);
}

.mapbtn_ahyeon {
  position: absolute;
  top: -15px;
  left: 40px;
  clip-path: polygon(28% 99%, 73% 53%, 75% 56%, 81% 56%, 85% 52%, 94% 51%, 92% 35%, 100% 25%, 60% 16%, 60% 8%, 37% 9%, 37% 13%, 29% 10%, 29% 5%, 24% 1%, 14% 0, 10% 4%, 9% 7%, 2% 7%, 19% 71%);
}


.add-restaurant {
  position: absolute;
  top: 220px;
  left: 190px;
}

.add-btn {
  height: 35px;
  width: 85px;
  background-color: #fff7bc;
  border: none;
  border-radius: 10px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  font-size: 16px;
}

.search {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-right: 20px;
}

.search-box {
  width: 360px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.search-box input#search {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  width: 400px;
  height: 50px;
  background: white;
  border: none;
  font-size: 10pt;
  float: left;
  color: black;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 15px;
}

.search-box .icon {
  position: absolute;
  margin-top: 17px;
  margin-left: 17px;
  color: Grey;
}

.category {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

ul li {
  list-style: none;
}

.category li {
  float: left;
}

a {
  text-decoration: none;
  color: black;
}

.food-name {
  padding-top: 15px;
  text-align: center;
}

ul.categories>li {
  padding-right: 8px;
  padding-left: 8px;
}

.food {
  font-size: 16px;
  width: 80px;
  height: 95px;
  background-color: white;
  border: none;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
}

.theme-title {
  font-size: 20px;
  color: white;
  height: 30px;
  width:50%;
}

.theme {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 800px;
}

.card {
  padding: 20px;
}

.theme-restaurant {
  font-size: 16px;
  width: 215px;
  height: 115px;
  background-color: white;
  border: none;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.theme-icon {
  border-radius: 70%;
}

.theme-name {
  color: grey;
  padding-left: 20px;
}

footer {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E7E6E6;
  margin-top: 100px;
}

.copyright {
  font-size: 16px;
  color: #AFABAB;
}