.topbar {
  height: 240px;
  background-color: #fff7bc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.back-icon {
  color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 10%;
  left: 5%;
}

.title {
  color: black;
  font-size: 25px;
  margin-bottom: 50px;
}

.title-description {
  color: rgba(0, 0, 0, 0.3);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50vw;
  padding-top: 40px;
}

.left {
  width: 220px;
  height: 140px;
  margin-right: 15px;
  border: none;
  position: relative;
}

.vegan-badge {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.menu-pic {
  width: 220px;
  height: 140px;
  border-radius: 25px;
  object-fit: cover;
}

.right {
  width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.7);
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}



.name {
  font-size: 21px;
}

.subscription {
  font-size: 17px;
  color: rgba(0, 0, 0, 0.3);
  padding-top: 6px;
  width:100%;
}

.detail {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 16px;
}

.etc {
  padding-top: 6px;
}

.price {
  font-size: 20.5px;
  margin-top: 12px;
  width: 19%;
  margin-left: 7%;
  display: flex;
  justify-content: flex-end;

}

footer {
  margin-top:40px;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E7E6E6;
}

.copyright {
  font-size: 16px;
  color: #AFABAB;
}