@font-face {
  font-family: 'modulight';
  src: url("/static/강원교육모두-light.woff") format('woff');
}

.topbar {
  height: 240px;
  background-color: #fff7bc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.back-icon {
  color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 10%;
  left: 5%;
}

.title {
  color: black;
  font-size: 25px;
}

.title-description {
  color: rgba(0, 0, 0, 0.3);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile {
  width: 735px;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 50px;
}

.profileimg {
  width: 100px;
  border-radius: 70%;
}

.img {
  width: 100%;
}

.user {
  padding-left: 30px;
  width: 300px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.username {
  font-size: 19px;
}

.userid {
  font-size: 18px;
}

/*여기서부터 수정 코드*/

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 25%;
  margin-right: 25%;
}

.myreview{
  display: flex;
  margin-top: 30px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.subtitle-review{
  margin-left: 40px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width:800px;
}

.reviews {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}

ul.reviews>li {
  padding: 15px;
  float:left;
}

.review {
  width: 215px;
  height: 270px;
  background-color: white;
  border: none;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.review-pic {
  width: 200px;
  height: 140px;
  border: none;
  border-radius: 15px;
  overflow: hidden;
}

.pic {
  margin-top: 6px;
  width: 192px;
  height: 140px;
  border-radius: 15px;
  object-fit: cover;
}

.review-content {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.food {
  font-size: 20px;
  padding-bottom: 5px;
}

.star-pic {
  width: 115px;
  padding-top: 5px;
}

.hashtag {
  font-size: 17px;
  padding-top: 10px;
}

/*여기까지*/

.food {
  font-size: 20px;
  padding-bottom: 5px;
}

.star-pic {
  width: 115px;
  padding-top: 5px;
}

.hashtag {
  font-size: 17px;
  padding-top: 10px;
}

.boxMore {
  font-size: 14.5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 25px;
  margin-top: 8px;
  width:100%;
}

.boxMorelike {
  font-size: 14.5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 37px;
  margin-top: 8px;
  width:100%;
}

.mylike {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  width:800px;
}

.subtitle {
  margin-left:40px;
  margin-bottom: 20px;
  margin-top: 30px;
}

.list-container{
  margin-top: 50px;
  margin-bottom: 40px;
}

.order-category{
  display: flex;
  justify-content: flex-end;
}

.card-container{
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  width:100%;
}

.none {
  margin-left:37%;
  margin-bottom:70px;
}

button{
  background-color: white;
}

.card{
  position: relative;
  text-align: center;
  border-radius: 15px;
  padding: 35px 25px;
  margin-top: 20px;
  margin-bottom: 10px;
  width:15.5vw;
  height:25vh;
  color: #3B3838;
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 30%);
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.card-title{
  font-size: clamp(20px, 1.7vw, 70px);
  margin-top: 10px;
}

.card-hashtag{
  font-size: clamp(20px, 1vw, 70px);
  padding-top: 5px;
  font-family:'modulight';
}

.heart-button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 10px;
  box-shadow: none;
  border: 0;
  position: absolute;
  top:0;
  right:0;
}

.favorites{
  width: 30px;
  height: 30px; 
  object-fit: cover;
}

.stars-pic{
  width: 125px;
  padding-top: 10px;
}

.vegan-pic{
  width: 60px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

.withdrawl {
  text-align: end;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width:100%;
  padding-bottom:50px;
}



footer {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E7E6E6;
}

.copyright {
  font-size: 16px;
  color: #AFABAB;
}

.quit {
  width: 735px;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 60px;
  align-items: flex-end;
}

.quitbtn {
  color: rgba(0, 0, 0, 0.3);
}