* {
  box-sizing: border-box;
}

.topbar {
  height: 240px;
  background-color: #fff7bc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.back-icon {
  color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 10%;
  left: 5%;
}

.title {
  color: black;
  font-size: 25px;
  margin-bottom: 50px;
}

.title-description {
  color: rgba(0, 0, 0, 0.3);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 25%;
  margin-right: 25%;
  margin-top:40px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width:800px;
}

.reviews {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}

ul.reviews>li {
  padding: 15px;
  float:left;
}

.review {
  width: 215px;
  height: 270px;
  background-color: white;
  border: none;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.review-pic {
  width: 200px;
  height: 140px;
  border: none;
  border-radius: 15px;
  overflow: hidden;
}

.pic {
  margin-top: 6px;
  width: 192px;
  height: 140px;
  border-radius: 15px;
  object-fit: cover;
}

.review-content {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.food {
  font-size: 20px;
  padding-bottom: 5px;
}

.star-pic {
  width: 115px;
  padding-top: 5px;
}

.hashtag {
  font-size: 17px;
  padding-top: 10px;
}

.page-nav {
  height: 100px;
  width: 215px;
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.page-move-wrap{
  display: flex;
  justify-content: center;
}

.page-nav {
  height: 100px;
  width: 215px;
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

ul.page > li {
  padding: 10px;
}

.page {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.page li {
  font-size: 19px;
}

.fa-solid{
  font-size: 16px;
}

.page-button{
  background: inherit; 
  border:none; 
  box-shadow:none; 
  border-radius:0; 
  padding:0; 
  overflow:visible; 
  cursor:pointer;
}

footer {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E7E6E6;
}

.copyright {
  font-size: 16px;
  color: #AFABAB;
}