@font-face {
    font-family: 'modulight';
    src: url("/static/강원교육모두-light.woff") format('woff');
}

body{
    color:#3B3838;
}

.content{
    margin-left: 25%;
    margin-right: 25%;
    margin-top:40px;
}

/* 상단바 */
.topbar {
    height: 240px;
    background-color: #fff7bc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
  
.back-icon {
    color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 10%;
    left: 5%;
}
  
.title {
    color: black;
    font-size: 25px;
    margin-bottom: 50px;
}
  
.title-description {
    color: rgba(0, 0, 0, 0.3);
}

/* body 안에 소제목 */
.insert-title{
    margin-bottom: 20px;
    font-size: 24px;
}

/* 지도 만들기 */
.upper {
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
  
.criteria {
    position: relative;
    margin-left: 80px;
    width: 3px;
    height: 3px;}
  
  .mapbtn_sch {
    position: absolute;
    top: -10px;
    left: -107px;
    z-index: 50;
    clip-path: polygon(6% 99%, 100% 86%, 91% 33%, 90% 24%, 91% 18%, 94% 10%, 91% 0, 76% 0, 68% 0, 62% 3%, 50% 18%, 44% 18%, 45% 27%, 34% 41%, 31% 34%, 24% 36%, 23% 43%, 25% 54%, 16% 63%, 8% 69%, 1% 72%, 0 80%, 3% 85%);
  }
  
  .mapbtn_sin {
    position: absolute;
    right: 102px;
    top: 42px;
    clip-path: polygon(76% 0, 68% 8%, 55% 10%, 46% 13%, 37% 12%, 27% 13%, 27% 18%, 17% 23%, 9% 32%, 4% 44%, 2% 56%, 0 60%, 22% 59%, 13% 70%, 95% 99%, 100% 98%, 91% 53%, 95% 49%, 96% 39%, 87% 31%, 79% 0);
  }
  
  .mapbtn_idae {
    position: absolute;
    top: 132px;
    z-index: 100;
    left: -95px;
    clip-path: polygon(0 23%, 2% 55%, 64% 96%, 69% 83%, 74% 90%, 78% 61%, 82% 61%, 84% 48%, 87% 42%, 100% 3%, 83% 7%, 84% 0, 69% 1%, 69% 9%);
  }
  
  
  .mapbtn_back {
    position: absolute;
    top: -34px;
    left: -117px;
    z-index: 1;
    clip-path: polygon(100% 19%, 14% 100%, 0% 43%, 22% 18%, 20% 16%, 17% 12%, 15% 8%, 17% 4%, 20% 0%, 27% 0, 32% 5%, 42% 0, 100% 17%);
  }
  
  .mapbtn_ahyeon {
    position: absolute;
    top: -15px;
    left: 40px;
    clip-path: polygon(28% 99%, 73% 53%, 75% 56%, 81% 56%, 85% 52%, 94% 51%, 92% 35%, 100% 25%, 60% 16%, 60% 8%, 37% 9%, 37% 13%, 29% 10%, 29% 5%, 24% 1%, 14% 0, 10% 4%, 9% 7%, 2% 7%, 19% 71%);
  }

  
/* checkbox custom */
.food-type-container{
    display: flex;
    justify-content: space-evenly;    
}

.filter-container{
    line-height: normal;
}

input[type=checkbox] + label {
    display: inline-block;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    cursor: pointer;
    padding: 0.2em;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label:before {
    content: "\2714";
    border: 0.1em solid #E7E6E6;
    display: inline-block;
    width: 1em;
    height: 1em;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
}

input[type=checkbox] + label:active:before {
    transform: scale(0);
}

input[type=checkbox]:checked + label:before {
    background-color: #6DC52B;
    border-color: rgb(230, 230, 230);
    color: white;
}

input[type=checkbox]:disabled + label:before {
    transform: scale(1);
    border-color: #aaa;
}

input[type=checkbox]:checked:disabled + label:before {
    transform: scale(1);
    background-color: #bfb;
    border-color: #bfb;
}

label{
    font-size: 20px;
}

/* 리스트 */
.list-container{
    margin-top: 50px;
    margin-bottom: 40px;
}

.order-category{
    display: flex;
    justify-content: flex-end;
}

.card-container{
    display: flex;
    flex-direction: row;

    gap: 20px;
    flex-wrap: wrap;
}

.order-category-button{
    background-color: #FFF7BC;
    border: none;
    margin-left: 10px;
    padding: 10px 25px;
    font-size: 16px;
    border-radius: 10px;
}

button{
    background-color: white;
}

.card{
    position: relative;
    text-align: center;
    border-radius: 15px;
    padding: 35px 25px;
    margin-top: 20px;
    margin-bottom: 10px;
    width:15.5vw;
    height:25vh;
    color: #3B3838;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 30%);
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.card-title{
    font-size: clamp(20px, 1.7vw, 70px);
    margin-top: 10px;
}

.card-hashtag{
    font-size: clamp(20px, 1vw, 70px);
    padding-top: 5px;
    font-family:'modulight';
}

.heart-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 10px;
    box-shadow: none;
    border: 0;
    position: absolute;
    top:0;
    right:0;
}

.favorites{
    width: 30px;
    height: 30px; 
    object-fit: cover;
}

.stars-pic{
    width: 125px;
    padding-top: 10px;
}

.vegan-pic{
    width: 60px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}


/* 페이지 넘기기 */
.page-move-wrap{
    display: flex;
    justify-content: center;
}

.page-nav {
    height: 100px;
    width: 215px;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
  
ul.page > li {
    padding: 10px;
}
  
.page {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
  
.page li {
    font-size: 19px;
}
  
.fa-solid{
    font-size: 16px;
}

.page-button{
    background: inherit; 
    border:none; 
    box-shadow:none; 
    border-radius:0; 
    padding:0; 
    overflow:visible; 
    cursor:pointer;
}

/* footer */
footer {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E7E6E6;
    margin-top: 100px;
}
  
.copyright {
    font-size: 16px;
    color: #AFABAB;
}