* {
  box-sizing: border-box;
}

.navbar {
  background-color: #ff8080;
  height: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav1 {
  float: left;
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav2 {
  float: left;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search {
  height: 50px;
}

.search-box {
  width: 550px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.search-box input#search {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  width: 550px;
  height: 50px;
  background: white;
  border: none;
  font-size: 10pt;
  color: black;
  padding-left: 45px;
  border-radius: 15px;
}

.search-box .icon {
  position: absolute;
  margin-top: 17px;
  margin-left: 17px;
  color: Grey;
}

.nav3 {
  float: left;
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: lighter;
  font-size: 15px;
}

.navbar ul {
  float: right;
}

.navbar li {
  margin-left: 15px;
  list-style-type: none;
  float: left;
}

.topbar {
  height: 240px;
  background-color: #fff7bc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.back-icon {
  color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 10%;
  left: 5%;
}

.box {
  background-color: white;
  width: 50vw;
  height: 34vw;
  position: absolute;
  top: -15vw;
  left: 50vw;
  transform: translate(-50%, 70%);
  border-radius: 20px;
  box-shadow: 0 3px 10px 7px rgba(0, 0, 0, 0.19);
}

.reviewbox {
  position: relative;
}

.prevEnd {
  position: absolute;
  bottom: 45%;
  left: -25%;
}

.nextEnd {
  position: absolute;
  bottom: 45%;
  right: -25%;
}

.box-top {
  padding-left: 2.2vw;
  padding-top: 1vw;
  height: 4.5vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.nickname {
  font-size: 1.35vw;
  color: grey;
}

.contents {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
  height: 26vw;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}

.review-pic {
  width: 85%;
  height: 48%;
  border-radius: 15px;
  overflow: hidden;
}

.pic {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
}

.review-stars {
  width: 55%;
  padding-top: 2.5%;
}

.stars {
  width: 100%;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
}

.food {
  padding-top: 3%;
  font-size: 1.5vw;
  height: 15%;
}

.information {
  height: 12%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.time {
  width: 150%;
  padding-right: 20%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.ask {
  padding-right: 15%;
  font-size: 1.25vw;
  color: darkgrey;
}

.answer {
  font-size: 1.25vw;
  color: black;
}

.detail {
  height: 48%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 92%;
}

.description {
  font-size: 1.23vw;
  line-height: 1.8vw;
}
.date {
  padding-top: 7%;
  padding-right: 2.2vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.day {
  font-size: 1.05vw;
  color: lightgrey;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 2.2vw;
}

.erase {
  color: rgba(0, 0, 0, 0.3);
}
