{% extends "base.html" %} {% block title %}add-menu{% endblock %} {% block css
%} <link href="/static/add-menu.css" rel="stylesheet" /> {% endblock %} {% block
section %}
<section>
  <div class="topbar">
    <div class="topbar-upper">
      <a href="/restaurant/detail/{{맛집이름}}" class="back-icon">
        <i class="fa solid fa-arrow-left fa-lg"></i>
      </a>
    </div>
    <div class="topbar-bottom">
      <div class="title">{{맛집이름}} 대표 메뉴 등록하기</div>
      <div class="title-description">
        {{맛집이름}}의 자랑, 당신의 메뉴를 알려주세요!
      </div>
    </div>
  </div>

  <div class="content">
    <!-- 음식 이름 입력 -->
    <form
      
      method="post"
      enctype="multipart/form-data"
    >
      <input
        type="text"
        placeholder="메뉴 이름"
        name="메뉴이름"
        class="input"
        required
      /><br />

      <!-- 대표 이미지 넣기 -->
      <h3 class="insert-title">메뉴 사진</h3>
      <div class="img-container">
        <input type="file" name="mfile" id="fileUpload" accept="image/*" />
        <label for="fileUpload">파일 선택</label>
        <div class="img-preview">사진</div>
      </div>

      <!-- 가격 -->
      <h3 class="insert-title">가격</h3>
      <input
        type="text"
        placeholder="0000원"
        name="가격"
        class="input"
        required
      /><br />

      <!-- 알레르기 정보(선택) -->
      <h3 class="insert-title">알레르기 정보 (선택)</h3>
      <input type="text" name="allergyinfo" class="input" /><br />

      <!-- 비건 유무 -->
      <h3 class="insert-title">비건 유무</h3>
      <div class="vegan-container">
        <input type="radio" id="yes-vegan" name="vegan" value="비건"/>
        <label for="yes-vegan">비건</label>

        <input type="radio" id="no-vegan" name="vegan" value="논비건"/>
        <label for="no-vegan">논비건</label>
      </div>

      <!-- 기타 정보 -->
      <h3 class="insert-title">기타 정보 (선택)</h3>
      <input type="text" id="addInfo" name="etcinfo" class="input" /><br />

      <!-- 한 줄 소개(선택) -->
      <h3 class="sentence-intro insert-title">한 줄 소개(선택)</h3>
      <textarea class="review-input" maxlength="800" name="한줄소개"></textarea
      ><br />
      <!-- 나중에 css에서 height 지정하고, overflow hidden 지정하기 -->

      <!-- 등록 버튼 & 다른 대표메뉴 추가 -->
      <div class="submit-button-container">
        <a href="/restaurant/detail/{{맛집이름}}">
          <button class="submit-button" onclick="javascript: form.action='/menu/add/{{맛집이름}}'">등록</button>
        </a>
        <a href="/menu/add/{{맛집이름}}">
          <button class="submit-button" onclick="javascript: form.action='/menu/addanother/{{맛집이름}}'">다른 메뉴 등록하기</button>
        </a>
      </div>
    </form>
  </div>
</section>
{% endblock %}
