{% extends "base.html" %} {% block title %}add-review{% endblock %} {% block css
%} <link href="/static/add-review.css" rel="stylesheet" />
<script type="text/javascript" src="script.js"></script>
{% endblock %} {% block section %}
<section>
  <div class="topbar">
    <div class="topbar-upper">
      <a href="/" class="back-icon">
        <i class="fa solid fa-arrow-left fa-lg"></i>
      </a>
    </div>
    <div class="topbar-bottom">
      <div class="title">{{맛집이름}} 리뷰 등록하기</div>
      <div class="title-description">
        벗들과 나눌 {{맛집이름}}의 소중한 후기를 알려주세요!
      </div>
    </div>
  </div>

  <div class="content">
    <!-- 메뉴 이름 입력 -->
    <form
      action="/review/add/{{맛집이름}}"
      method="post"
      enctype="multipart/form-data"
    >
      <input
        type="text"
        class="input"
        name="메뉴이름"
        placeholder="메뉴 이름"
        required
      /><br />

      <!-- 평점 입력 -->
      <div class="range-container">
        <h3 class="insert-title">평점</h3>
        <div class="rating-range-container">
          <input
            type="range"
            id="rating"
            name="평점"
            min="0"
            max="5"
            step="0.5"
            oninput="document.getElementById('rating-value').innerHTML=this.value;"
          />
          <span id="rating-value">2.5</span>
        </div>
      </div>

      <!-- 방문 시간 선택  -->
      <h3 class="insert-title">방문 시간</h3>
      <div class="time-period-wrapper">
        <div class="time-period-container">
          <input type="radio" id="time1" name="timePeriod" value="아침" />
          <label for="time1">아침</label>
        </div>
        <div class="time-period-container">
          <input type="radio" id="time2" name="timePeriod" value="점심" />
          <label for="time2">점심</label>
        </div>
        <div class="time-period-container">
          <input type="radio" id="time3" name="timePeriod" value="저녁" />
          <label for="time3">저녁</label>
        </div>
        <div class="time-period-container">
          <input type="radio" id="time4" name="timePeriod" value="야간" />
          <label for="time4">야간</label>
        </div>
      </div>

      <!-- 대기 시간 -->
      <h3 class="insert-title">대기 시간</h3>
      <div class="wait-time-period-container">
        <div class="wait-time-period">
          <input type="radio" id="wait1" name="waiting" value="없음" />
          <label for="wait1">없음</label>
        </div>
        <div class="wait-time-period">
          <input type="radio" id="wait2" name="waiting" value="10분" />
          <label for="wait2">10분</label>
        </div>
        <div class="wait-time-period">
          <input type="radio" id="wait3" name="waiting" value="30분" />
          <label for="wait3">30분</label>
        </div>
        <div class="wait-time-period">
          <input type="radio" id="wait4" name="waiting" value="30분 이상" />
          <label for="wait4">30분 이상</label>
        </div>
      </div>

      <!-- 리뷰 내용 작성 -->
      <h3 class="insert-title">리뷰 내용</h3>
      <textarea
        class="review-input"
        maxlength="800"
        name="리뷰작성내용"
        placeholder="음식이 어땠는지 리뷰를 작성해주세요:)"
        required
      ></textarea
      ><br />

      <!-- 리뷰 이미지 넣기 -->
      <h3 class="insert-title">음식 사진</h3>
      <div class="img-container">
        <input type="file" name="rvfile" id="rvfile" accept="image/*" />
      </div>

      <!-- 등록 완료 버튼 -->
      <div class="submit-button-container">
        <button type="submit" class="submit-button">등록</button>
      </div>
    </form>
  </div>
</section>
{% endblock %}
