<!DOCTYPE html>

<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add-review</title>
    <link href="/static/global.css" rel="stylesheet"> 
    <link href="/static/add-review.css" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/0ed41516ec.js" crossorigin="anonymous">
    </script>
</head>
<body>

    <div class="navbar">
        <div class="nav1">
          <a href="home.html" class="logo">
            <img src="/static/logo_white.png" height="70px">
          </a>
        </div>
        <div class="nav2">
          <div class="search">
            <div class="search-box">
              <a href="" class="icon">
                <i class="fa-solid fa-magnifying-glass"></i>
              </a>
              <input type="search" id="search" name="이대 근처 맛집 찾기" placeholder="이대 근처 맛집 찾기" />
            </div>
          </div>
        </div>
        <div class="nav3">
          <ul>
            <li><a href="login.html">로그인</a></li>
            <li><a href="mypage.html">마이페이지</a></li>
          </ul>
        </div>
      </div>

    <section>

        <div class="topbar">
            <div class="topbar-upper">
              <a href="home.html" class="back-icon">
                <i class="fa solid fa-arrow-left fa-lg"></i> 
              </a>
            </div>
            <div class="topbar-bottom">
              <div class="title">리뷰 등록하기</div>
              <div class="title-description">벗들과 나눌 소중한 후기를 알려주세요!</div>
            </div>
        </div>

        <div class="content">
            <!-- 메뉴 이름 입력 -->
            <form>
                <input type="text" class="input" placeholder='메뉴 이름' required><br>
            </form>

            <!-- 평점 입력 -->
            <div class="range-container">
                <h3 class="insert-title">평점</h3>
                <form class="rating-flower-container">
                    <button class="rating-flower-button">
                        <img src="/static/rating_empty.png" alt="rating_empty" class="rating-flower-pic">
                    </button>
                    <button class="rating-flower-button">
                        <img src="/static/rating_empty.png" alt="rating_empty" class="rating-flower-pic">
                    </button>
                    <button class="rating-flower-button">
                        <img src="/static/rating_empty.png" alt="rating_empty" class="rating-flower-pic">
                    </button>
                    <button class="rating-flower-button">
                        <img src="/static/rating_empty.png" alt="rating_empty" class="rating-flower-pic">
                    </button>
                    <button class="rating-flower-button">
                        <img src="/static/rating_empty.png" alt="rating_empty" class="rating-flower-pic">
                    </button>
                </form>
            </div>

            <!-- 방문 시간 선택  -->
            <form>
                <h3 class="insert-title">방문 시간</h3>
                <div class="time-period-wrapper">
                    <div class="time-period-container">
                        <input type="radio" id="time1" name="time-period">
                        <label for="time1">아침</label>
                    </div>
                    <div class="time-period-container">
                        <input type="radio" id="time2" name="time-period">
                        <label for="time2">점심</label>
                    </div>
                    <div class="time-period-container">
                        <input type="radio" id="time3" name="time-period">
                        <label for="time3">저녁</label>
                    </div>
                    <div class="time-period-container">
                        <input type="radio" id="time4" name="time-period">
                        <label for="time4">야간</label>
                    </div>
                </div>
            </form>

            <!-- 대기 시간 -->
            <form>
                <h3 class="insert-title">대기 시간</h3>
                <div class="wait-time-period-container">
                    <div class="wait-time-period">
                        <input type="radio" id="wait1" name="waiting">
                        <label for="wait1">없음</label>
                    </div>
                    <div class="wait-time-period">
                        <input type="radio" id="wait2" name="waiting">
                        <label for="wait2">10분</label>
                    </div>
                    <div class="wait-time-period">
                        <input type="radio" id="wait3" name="waiting">
                        <label for="wait3">30분</label>
                    </div>
                    <div class="wait-time-period">
                        <input type="radio" id="wait4" name="waiting">
                        <label for="wait4">30분 이상</label>
                    </div>
                </div>
            </form>

            <!-- 리뷰 내용 작성 -->
            <h3 class="insert-title">리뷰 내용</h3>
            <textarea class="review-input" maxlength="800" name="리뷰작성내용" placeholder="음식이 어땠는지 리뷰를 작성해주세요:)" ></textarea><br>
            
            <!-- 리뷰 이미지 넣기 -->
            <h3 class="insert-title" >대표 사진</h3>
            <form>
                <div class="img-container">
                    <input type="file" id="fileUpload" accept="image/*">
                    <label for="fileUpload" >파일 선택</label>
                    <div class="img-preview">사진</div>
                </div>
            </form>
            <!-- 등록 완료 버튼 -->
            <div class="submit-button-container">
                <button class="submit-button">등록</button>
            </div>
        </div>
    </section>

    <footer>
        <div class="copyright">2022 copyright 어?이게왜되조</div>
    </footer>
    
</body>
