{% extends "base.html" %} {% block title %}add-restaurant{% endblock %} {% block
css %} <link href="/static/add-restaurant.css" rel="stylesheet" />
<script href="/static/add-restaurant.js" />
{% endblock %} {% block section %}
<section>
  <div class="topbar">
    <div class="topbar-upper">
      <a href="/" class="back-icon">
        <i class="fa solid fa-arrow-left fa-lg"></i>
      </a>
    </div>
    <div class="topbar-bottom">
      <div class="title">맛집 등록하기</div>
      <div class="title-description">이화의 자랑, 당신의 맛집을 알려주세요</div>
    </div>
  </div>

  <div class="content">
    <!-- 맛집 이름 입력 -->
    <form action="/restaurant/add" method="post" enctype="multipart/form-data">
      <input
        type="text"
        class="input"
        name="맛집이름"
        placeholder="맛집 이름"
      /><br />

      <!-- 음식 분류 선택 -->
      <div class="food-type-container">
        <input
          type="checkbox"
          name="음식종류"
          id="food-type-check-korean"
          value="한식"
        />
        <label for="food-type-check-korean"> 한식</label>
        <input
          type="hidden"
          name="음식종류"
          id="food-type-check-korean-hidden"
          value="null"
        />
        <label for="food-type-check-korean-hidden"></label>

        <input
          type="checkbox"
          name="음식종류"
          id="food-type-check-chinese"
          value="중식"
        />
        <label for="food-type-check-chinese"> 중식</label>
        <input
          type="hidden"
          name="음식종류"
          id="food-type-check-chinese-hidden"
          value="null"
        />
        <label for="food-type-check-chinese-hidden"></label>

        <input
          type="checkbox"
          name="음식종류"
          id="food-type-check-western"
          value="양식"
        />
        <label for="food-type-check-western"> 양식</label>
        <input
          type="hidden"
          name="음식종류"
          id="food-type-check-western-hidden"
          value="null"
        />
        <label for="food-type-check-western-hidden"></label>

        <input
          type="checkbox"
          name="음식종류"
          id="food-type-check-japanese"
          value="일식"
        />
        <label for="food-type-check-japanese"> 일식</label>
        <input
          type="hidden"
          name="음식종류"
          id="food-type-check-japanese-hidden"
          value="null"
        />
        <label for="food-type-check-japanese-hidden"></label>

        <input
          type="checkbox"
          name="음식종류"
          id="food-type-check-cafe"
          value="카페"
        />
        <label for="food-type-check-cafe"> 카페</label>
        <input
          type="hidden"
          name="음식종류"
          id="food-type-check-cafe-hidden"
          value="null"
        />
        <label for="food-type-check-cafe-hidden"></label>

        <input
          type="checkbox"
          name="food-type-check-alcohol"
          id="food-type-check-alcohol"
          value="술"
        />
        <label for="food-type-check-alcohol"> 술</label>
        <input
          type="hidden"
          name="food-type-check-alcohol-hidden"
          id="food-type-check-alcohol-hidden"
          value="null"
        />
        <label for="food-type-check-alcohol-hidden"></label>
      </div>

      <!-- 비건 메뉴 유무 -->
      <h3 class="insert-title">비건 메뉴 유무</h3>
      <div class="vegan-container">
        <input type="radio" id="yes-vegan" name="vegan" value="비건" />
        <label for="yes-vegan">네</label>
        <input type="radio" id="no-vegan" name="vegan" value="논비건" />
        <label for="no-vegan">아니요</label>
      </div>

      <!-- 가격대 선택 -->
      <h3 class="insert-title">가격대</h3>
      <div class="price-container">
        <input type="radio" id="price1" name="pricerange" value="~ 5천 원" />
        <label for="price1">~ 5천 원</label>
        <input
          type="radio"
          id="price2"
          name="pricerange"
          value="5천 원 ~ 만 원"
        />
        <label for="price2">5천 원 ~ 만 원</label>
        <input
          type="radio"
          id="price3"
          name="pricerange"
          value="만 원 ~ 3만 원"
        />
        <label for="price3">만 원 ~ 3만 원</label>
        <input type="radio" id="price4" name="pricerange" value="3만 원 이상" />
        <label for="price4">3만 원 이상</label>
      </div>

      <!-- 위치 선택 -->
      <h3 class="insert-title">위치</h3>
      <div class="location-container">
        <input type="radio" id="loca1" name="location" value="정문" />
        <label for="loca1">정문</label>
        <input type="radio" id="loca2" name="location" value="후문" />
        <label for="loca2">후문</label>
        <input type="radio" id="loca3" name="location" value="교내" />
        <label for="loca3">교내</label>
        <input type="radio" id="loca4" name="location" value="신촌" />
        <label for="loca4">신촌</label>
        <input type="radio" id="loca5" name="location" value="아현" />
        <label for="loca5">아현</label>
      </div>

      <!-- 주소 입력 -->
      <input
        type="text"
        name="address"
        id="address"
        class="input"
        placeholder="주소"
      /><br />

      <!-- 전화번호 입력 -->
      <input
        type="text"
        name="phonenum"
        id="phone-num"
        class="input"
        placeholder="전화번호"
      /><br />
      <!-- 전화번호 양식에 숫자 아닌거 넣을 경우 -->

      <!-- 주차 가능 여부 -->
      <h3 class="insert-title">주차 가능 여부</h3>
      <div class="parking-container">
        <input type="radio" id="yes-park" name="parking" value="주차 가능" />
        <label for="yes-park">네</label>
        <input type="radio" id="no-park" name="parking" value="주차 불가" />
        <label for="no-park">아니요</label><br />
      </div>

      <!-- 대표 이미지 넣기 -->
      <h3 class="insert-title">대표 사진</h3>
      <div class="img-container">
        <input
          type="file"
          name="rfile"
          id="fileUpload"
          accept="image/*"
          onclick="setRfile()"
        />
        <label for="fileUpload">파일 선택</label>
        <div class="img-preview">사진</div>
      </div>

      <!-- 영업시간 입력 -->
      <div class="restaurant-time-container">
        <div class="working-time-container">
          <div class="title-container">
            <h3 class="insert-title">영업시간</h3>
            <h3 class="insert-title">휴무</h3>
          </div>
          <div class="input-container">
            <input
              type="text"
              name="mondaytime"
              id="monday-time"
              class="input-date"
              placeholder="월"
            />
            <input
              type="checkbox"
              name="input-check"
              id="input-check-mon"
              value="1"
            />
            <label for="input-check-mon"></label>
            <input
              type="hidden"
              name="input-check-hidden"
              id="input-check-hidden-mon"
              value="0"
            />
            <label for="input-check-hidden-mon"></label>
          </div>
          <div class="input-container">
            <input
              type="text"
              name="tuesdaytime"
              id="tuesday-time"
              class="input-date"
              placeholder="화"
            />
            <input
              type="checkbox"
              name="input-check"
              id="input-check-tues"
              value="1"
            />
            <label for="input-check-tues"></label>
            <input
              type="hidden"
              name="input-check-hidden"
              id="input-check-hidden-tues"
              value="0"
            />
            <label for="input-check-hidden-tues"></label>
          </div>
          <div class="input-container">
            <input
              type="text"
              name="wendesdaytime"
              id="wednesday-time"
              class="input-date"
              placeholder="수"
            />
            <input
              type="checkbox"
              name="input-check"
              id="input-check-wed"
              value="1"
            />
            <label for="input-check-wed"></label>
            <input
              type="hidden"
              name="input-check-hidden"
              id="input-check-hidden-wed"
              value="0"
            />
            <label for="input-check-hidden-wed"></label>
          </div>
          <div class="input-container">
            <input
              type="text"
              name="thursdaytime"
              id="thursday-time"
              class="input-date"
              placeholder="목"
            />
            <input
              type="checkbox"
              name="input-check"
              id="input-check-thur"
              value="1"
            />
            <label for="input-check-thur"></label>
            <input
              type="hidden"
              name="input-check-hidden"
              id="input-check-hidden-thur"
              value="0"
            />
            <label for="input-check-hidden-thur"></label>
          </div>
          <div class="input-container">
            <input
              type="text"
              name="fridaytime"
              id="friday-time"
              class="input-date"
              placeholder="금"
            />
            <input
              type="checkbox"
              name="input-check"
              id="input-check-fri"
              value="1"
            />
            <label for="input-check-fri"></label>
            <input
              type="hidden"
              name="input-check-hidden"
              id="input-check-hidden-fri"
              value="0"
            />
            <label for="input-check-hidden-fri"></label>
          </div>
          <div class="input-container">
            <input
              type="text"
              name="saturdaytime"
              id="saturday-time"
              class="input-date"
              placeholder="토"
            />
            <input
              type="checkbox"
              name="input-check"
              id="input-check-sat"
              value="1"
            />
            <label for="input-check-sat"></label>
            <input
              type="hidden"
              name="input-check-hidden"
              id="input-check-hidden-sat"
              value="0"
            />
            <label for="input-check-hidden-sat"></label>
          </div>
          <div class="input-container">
            <input
              type="text"
              name="sundaytime"
              id="sunday-time"
              class="input-date"
              placeholder="일"
            />
            <input
              type="checkbox"
              name="input-check"
              id="input-check-sun"
              value="1"
            />
            <label for="input-check-sun"></label>
            <input
              type="hidden"
              name="input-check-hidden"
              id="input-check-hidden-sun"
              value="0"
            />
            <label for="input-check-hidden-sun"></label>
          </div>
        </div>
      </div>

      <!-- 브레이크 타임 유무 -->
      <div class="breaktime-container">
        <h3 class="insert-title">브레이크 타임</h3>
        <div class="breaktime-answer-container">
          <input type="radio" id="yes-breakt" name="isBreaktime" />
          <label for="yes-breakt">네</label>
          <input type="radio" id="no-breakt" name="isBreaktime" />
          <label for="no-breakt">아니요</label><br />
        </div>
      </div>
      <input type="text" class="input-break" placeholder="00:00 ~ 00:00" />

      <!-- 등록 버튼 & 다른 대표메뉴 추가 -->
      <div class="submit-button-container">
        <button class="submit-button">등록</button>
        <button class="submit-button">대표 메뉴 등록하기</button>
      </div>
    </form>
  </div>
</section>
{% endblock %}
