<!DOCTYPE html>

<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}——{% endblock %}</title>
    <link href="/static/global.css" rel="stylesheet" />
    {% block css %}
    <link href="" rel="stylesheet" />
    {% endblock %}
    <script
      src="https://kit.fontawesome.com/0ed41516ec.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    {% block navbar %}
    <nav class="navbar">
      <div class="nav1">
        <a href="/" class="logo">
          <img src="/static/logo_white.png" height="70px" />
        </a>
      </div>
      <div class="nav2">
        <div class="search">
          <div class="search-box">
            <a href="" class="icon">
              <i class="fa-solid fa-magnifying-glass"></i>
            </a>
            <input
              type="search"
              id="search"
              name="이대 근처 맛집 찾기"
              placeholder="이대 근처 맛집 찾기"
            />
          </div>
        </div>
      </div>
      <div class="nav3">
        <ul>
          {% if session['id']%}
          <li><a href="/logout">로그아웃</a></li>
          <li><a href="/mypage">마이페이지</a></li>
          {% else %}
          <li><a href="/login">로그인</a></li>
          <li><a href="/login">마이페이지</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
    {% endblock %} {% block section %}
    <section></section>
    {% endblock %} {% block footer %}
    <footer>
      <div class="copyright">2022 copyright 어?이게왜되조</div>
    </footer>
    {% endblock %}
  </body>
</html>
