{% extends "base.html" %} {% block title %}home{% endblock %} {% block css %}
<link href="/static/home.css" rel="stylesheet" /> {% endblock %} {% block navbar
%}
<div class="navbar">
  <div class="nav1">
    <a href="/" class="logo">
      <img src="/static/logo_white.png" height="70px" />
    </a>
  </div>
  <div class="nav2"></div>
  <div class="nav3">
    <ul>
      {% if session['id'] %}
      <li><a href="/logout">로그아웃</a></li>
      <li><a href="/mypage">마이페이지</a></li>
      {% else %}
      <li><a href="/login">로그인</a></li>
      <li><a href="/login">마이페이지</a></li>
      {% endif %}
    </ul>
  </div>
</div>
{% endblock %} {% block section %}
<!-- 지도 -->
<section>
  <div class="upper">
    <div class="map">
      <div class="criteria">
        <a href="{{url_for('restaurant_list', location='교내')}}" class="mapbtn_sch">
          <img height="160px" src="/static/교내.png" onmouseover="this.src='/static/교내호버.png'" onmouseout="this.src='/static/교내.png'">
        </a>

        <a href="{{url_for('restaurant_list', location='신촌')}}" class="mapbtn_sin">
          <img height="135px" src="/static/신촌.png" onmouseover="this.src='/static/신촌호버.png'" onmouseout="this.src='/static/신촌.png'">
        </a>

        <a href="{{url_for('restaurant_list', location='정문')}}"  class="mapbtn_idae" />
        <img height="90px" src="/static/정문.png" onmouseover="this.src='/static/정문호버.png'" onmouseout="this.src='/static/정문.png'">
      </a>

        <a href="{{url_for('restaurant_list', location='후문')}}" class="mapbtn_back">
          <img height="150px" src="/static/후문.png" onmouseover="this.src='/static/후문호버.png'" onmouseout="this.src='/static/후문.png'">
        </a>

        <a href="{{url_for('restaurant_list', location='아현')}}" class="mapbtn_ahyeon">
          <img src="/static/아현.png" height="150px" onmouseover="this.src='/static/아현호버.png'" onmouseout="this.src='/static/아현.png'">
        </a>

        <!-- 맛집등록하기 버튼-->
        <div class="add-restaurant">
          {% if session['id'] %}
          <a href="/restaurant/add">
            <button class="add-btn">맛집 등록</button>
          </a>
          {% else %}
          <a href="/login">
          <button class="add-btn">맛집 등록</button>
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <!-- 검색창 -->

  <div class="search">
    <div class="search-box">
      <form action="{{url_for('restaurant_list', search=search)}}" method="get" >
        <button
          type="submit"
          class="fa-solid fa-magnifying-glass searchicon"
        ></button>
        <input
          type="text"
          id="search"
          name="search"
          placeholder="이대 근처 맛집 찾기"
        />
      </form>
    </div>
  </div>

  <br />
  <br />

  <!-- 카테고리 -->
  <div class="category">
    <ul class="categories">
      <li>
        <a href="{{url_for('restaurant_list', foodtype='한식')}}">
          <button class="food">
            <div class="food-icon">
              <img
                src="https://cdn-icons-png.flaticon.com/512/1531/1531334.png"
                alt="Korean"
                width="45px"
              />
            </div>
            <div class="food-name">한식</div>
          </button>
        </a>
      </li>

      <li>
        <a href="{{url_for('restaurant_list', foodtype='중식')}}">
          <button class="food">
            <div class="food-icon">
              <img
                src="https://cdn-icons-png.flaticon.com/512/2548/2548277.png"
                alt="China"
                width="45px"
              />
            </div>
            <div class="food-name">중식</div>
          </button>
        </a>
      </li>

      <li>
        <a href="{{url_for('restaurant_list', foodtype='일식')}}">
          <button class="food">
            <div class="food-icon">
              <img
                src="https://cdn-icons-png.flaticon.com/512/5200/5200049.png"
                alt="Japan"
                width="45px"
              />
            </div>
            <div class="food-name">일식</div>
          </button>
        </a>
      </li>

      <li>
        <a href="{{url_for('restaurant_list', foodtype='양식')}}">
          <button class="food">
            <div class="food-icon">
              <img
                src="https://cdn-icons-png.flaticon.com/512/3595/3595455.png"
                alt="Western"
                width="45px"
              />
            </div>
            <div class="food-name">양식</div>
          </button>
        </a>
      </li>

      <li>
        <a href="{{url_for('restaurant_list', foodtype='카페')}}">
          <button class="food">
            <div class="food-icon">
              <img
                src="https://cdn-icons-png.flaticon.com/512/4721/4721026.png"
                alt="cafe"
                width="45px"
              />
            </div>
            <div class="food-name">카페</div>
          </button>
        </a>
      </li>

      <li>
        <a href="{{url_for('restaurant_list', foodtype='술')}}">
          <button class="food">
            <div class="food-icon">
              <img
                src="https://cdn-icons-png.flaticon.com/512/4622/4622329.png"
                alt="drink"
                width="45px"
              />
            </div>
            <div class="food-name">술</div>
          </button>
        </a>
      </li>
    </ul>
  </div>
  <!-- 테마별 맛집 -->
  <div class="theme">
    <div class="theme-title">오늘의 맛집은 여깃화</div>
    <div class="cards">
      <div class="card">
        <a href="{{url_for('restaurant_list', theme=1)}}">
          <button class="theme-restaurant">
            <span class="theme-icon">
              <img
                class="icon"
                src="https://cdn-icons-png.flaticon.com/512/974/974264.png"
                alt="night"
                width="45px"
              />
            </span>
            <span class="theme-name"
              >#감성_가득 <br />
              #야경이_예쁜</span
            >
          </button>
        </a>
      </div>

      <div class="card">
        <a href="{{url_for('restaurant_list', theme=2)}}">
          <button class="theme-restaurant">
            <span class="theme-icon"
              ><img
                src="https://cdn-icons-png.flaticon.com/512/995/995357.png"
                alt="study"
                width="45px"
            /></span>
            <span class="theme-name">#카공하기_ <br />좋은_카페</span>
          </button>
        </a>
      </div>

      <div class="card">
        <a href="{{url_for('restaurant_list', theme=3)}}">
          <button class="theme-restaurant">
            <span class="theme-icon"
              ><img
                src="https://cdn-icons-png.flaticon.com/512/308/308099.png"
                alt="solo"
                width="40px"
            /></span>
            <span class="theme-name">#프로혼밥러_ <br />추천_맛집</span>
          </button>
        </a>
      </div>

      <div class="card">
        <a href="{{url_for('restaurant_list', theme=4)}}">
          <button class="theme-restaurant">
            <span class="theme-icon"
              ><img
                src="https://cdn-icons-png.flaticon.com/512/892/892926.png"
                alt="night"
                width="45px"
            /></span>
            <span class="theme-name">#새내기_밥약은<br />_여기가_딱</span>
          </button>
        </a>
        </div>
      

      <div class="card">
        <a href="{{url_for('restaurant_list', theme=5)}}">
          <button class="theme-restaurant">
            <span class="theme-icon"
              ><img
                src="https://cdn-icons-png.flaticon.com/512/520/520464.png"
                alt="night"
                width="45px"
            /></span>
            <span class="theme-name">#이대_앞_<br />가성비_맛집</span>
          </button>
        </a>
      </div>

      <div class="card">
        <a href="{{url_for('restaurant_list', theme=6)}}">
          <button class="theme-restaurant">
            <span class="theme-icon"
              ><img
                src="https://cdn-icons-png.flaticon.com/512/7185/7185645.png"
                alt="group"
                width="45px"
            /></span>
            <span class="theme-name">#회식_장소_<br />고민은_끝</span>
          </button>
        </a>
      </div>
    </div>
  </div>
</section>
{% endblock %}
