<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
    <link rel="stylesheet" href="/static/global.css" />
    <link rel="stylesheet" href="/static/login.css" />
  </head>
  <body>
    <a href="/">
      <img class="logo" src="/static/logo_black.png" alt="logo" />
    </a>
    {% with mesg = get_flashed_messages() %} {% if mesg !=[] %}
    <script>
      alert("{{ mesg[0] }}");
    </script>
    {% endif %} {% endwith %}
    <form class="login_form" action="/login" method="post">
      <input type="text" name="id" id="id" placeholder="아이디" />
      <input type="password" name="pw" id="pw" placeholder="비밀번호" />
      <button type="submit" value="로그인">로그인</button>
    </form>
    <section class="sign_up_section">
      <div class="has_not_signed_up">아직 회원이 아니신가요?</div>
      <a href="/signup">
        <button class="sign_up_button">회원가입하기</button>
      </a>
    </section>
  </body>
</html>
