{% extends "base.html" %} {% block title %}menu-list{% endblock %} {% block css
%} <link href="/static/menu-list.css" rel="stylesheet" /> {% endblock %} {%
block section %}
<section class="topbar">
  <a href="/restaurant/detail" class="back-icon">
    <i class="fa solid fa-arrow-left fa-lg"></i>
  </a>
  <div class="title">대표 메뉴</div>
  <div class="title-description">이거 안 먹으면 후횟</div>
</section>

<section class="container">
  <div class="menu">
    <div class="left">
      <img class="menu-pic" src="/static/box.png" alt="menu picture" />

      <img class="vegan-badge" src="/static/vegan.png" alt="vegan-badge" />
    </div>

    <div class="right">
      <div class="information">
        <div class="food">
          <h3 class="name">메뉴 이름</h3>
          <p class="subscription">한 줄 소개</p>
        </div>
        <div class="detail">
          <p class="allergy">알레르기 정보</p>
          <p class="etc">기타 정보</p>
        </div>
      </div>
      <div class="price">가격</div>
    </div>
  </div>
  <div class="menu">
    <div class="left">
      <img class="menu-pic" src="/static/box.png" alt="menu picture" />
    </div>

    <div class="right">
      <div class="information">
        <div class="food">
          <h3 class="name">치즈 김치전</h3>
          <p class="subscription">손이 가요 손이 가~ 김치즈에 손이 가~</p>
        </div>
        <div class="detail">
          <p class="allergy">알레르기 정보</p>
          <p class="etc">기타 정보</p>
        </div>
      </div>
      <div class="price">14,000원</div>
    </div>
  </div>

  <div class="menu">
    <div class="left">
      <img class="menu-pic" src="/static/box.png" alt="menu picture" />
    </div>

    <div class="right">
      <div class="information">
        <div class="food">
          <h3 class="name">해물순두부국수</h3>
          <p class="subscription">레몬 소주와 어울리는 국물이 땡긴다면 필수!</p>
        </div>
        <div class="detail">
          <p class="allergy">알레르기 정보</p>
          <p class="etc">기타 정보</p>
        </div>
      </div>
      <div class="price">12,000원</div>
    </div>
  </div>

  <div class="menu">
    <div class="left">
      <img class="menu-pic" src="/static/box.png" alt="menu picture" />
    </div>

    <div class="right">
      <div class="information">
        <div class="food">
          <h3 class="name">메뉴 이름</h3>
          <p class="subscription">한 줄 소개</p>
        </div>
        <div class="detail">
          <p class="allergy">알레르기 정보</p>
          <p class="etc">기타 정보</p>
        </div>
      </div>
      <div class="price">가격</div>
    </div>
  </div>
</section>
{% endblock %}
