{% extends "base.html" %} {% block title %}menu-list{% endblock %} {% block css
%} <link href="/static/menu-list.css" rel="stylesheet" /> {% endblock %} {%
block section %}
<section class="topbar">
  <a href="/restaurant/detail/{{맛집이름}}" class="back-icon">
    <i class="fa solid fa-arrow-left fa-lg"></i>
  </a>
  <div class="title">{{맛집이름}} 대표 메뉴</div>
  <div class="title-description">이거 안 먹으면 후횟</div>
</section>

<section class="container">
  {% if total > 0 %} {% for data in datas %}
  <div class="menu">
    <div class="left">
      <img
        class="menu-pic"
        src="{{datas[data]['img_path']}}"
        alt="menu picture"
      />
      <img class="vegan-badge" src="/static/vegan.png" alt="vegan-badge" />
    </div>

    <div class="right">
      <div class="information">
        <div class="food">
          <h3 class="name">{{datas[data]['메뉴이름']}}</h3>
          <p class="subscription">{{datas[data]['한줄소개']}}</p>
        </div>
        <div class="detail">
          <p class="allergy">알레르기 정보 | {{datas[data]['allergyinfo']}}</p>
          <p class="etc">기타 정보 | {{datas[data]['etcinfo']}}</p>
        </div>
      </div>
      <div class="price">{{datas[data]['가격']}}</div>
    </div>
  </div>
  {% endfor %} {% else %}
  <div class="menu">등록된 맛집이 없습니다.</div>
  {% endif %}
</section>
{% endblock %}
