{% extends "base.html" %} {% block title %}mypage{% endblock %} {% block css %}
<link href="/static/mypage.css" rel="stylesheet" /> {% endblock %} {% block
section %}
<!-- 상단바 -->
<section class="topbar">
  <a href="/" class="back-icon">
    <i class="fa solid fa-arrow-left fa-lg"></i>
  </a>
  <div class="title">마이페이지</div>
</section>

<section class="container">
  <!-- 프로필-->
  <div class="profile">
    <div class="profileimg">
      <img class="img" src="/static/profile.png" alt="profile" />
    </div>
    <div class="user">
      <div class="username">닉네임</div>
      <div class="userid">{{session['id']}}</div>
    </div>
  </div>

  <!-- 내가 쓴 리뷰 -->
  <div class="myreview">
    <div class="subtitle">내가 쓴 리뷰</div>

    <ul class="reviews">
      <li>
        <a href="/review/my/detail">
          <button class="review">
            <div class="review-pic">
              <img class="pic" src="/static/box.png" alt="review-pic1" />
            </div>
            <div class="review-content">
              <div class="food">찹쌀탕수육</div>
              <div class="star">
                <img
                  class="star-pic"
                  src="/static/ratings_3.png"
                  alt="review-star"
                />
              </div>
              <div class="hashtag">#저녁 #대기10분</div>
            </div>
          </button>
        </a>
      </li>

      <li>
        <a href="/review/my/detail">
          <button class="review">
            <div class="review-pic">
              <img class="pic" src="/static/box.png" alt="review-pic2" />
            </div>
            <div class="review-content">
              <div class="food">순대볶음</div>
              <div class="star">
                <img
                  src="/static/ratings_4.png"
                  class="star-pic"
                  alt="review-star"
                />
              </div>
              <div class="hashtag">#저녁 #대기10분</div>
            </div>
          </button>
        </a>
      </li>

      <li>
        <a href="/review/my/detail">
          <button class="review">
            <div class="review-pic">
              <img class="pic" src="/static/box.png" alt="review-pic3" />
            </div>
            <div class="review-content">
              <div class="food">참치김밥</div>
              <div class="star">
                <img
                  src="/static/ratings_5.png"
                  class="star-pic"
                  alt="review-star"
                />
              </div>
              <div class="hashtag">#야간 #대기없음</div>
            </div>
          </button>
        </a>
      </li>
    </ul>

    <!-- 더보기 -->
    <a href="/review/my/detail" class="boxMore">
      <h7 class="more"> > 더보기 </h7>
    </a>
  </div>

  <!-- 나의 찜 목록-->
  <div class="mylike">
    <div class="subtitle">나의 찜 목록</div>

    <div class="card-container">
      <a href="/restaurant/detail">
        <button class="card">
          <img class="heart-button" src="/static/heart_filled.png" alt="fav" />
          <div class="card-title">너스레</div>
          <div class="card-hashtag">#치즈김치전 #만원대</div>
          <div class="card-rating">
            <img
              class="stars_pic"
              src="/static/ratings_4.png"
              alt="card-rating1"
            />
          </div>
        </button>
      </a>

      <a href="/restaurant/detail">
        <button class="card">
          <img class="heart-button" src="/static/heart_filled.png" alt="fav" />
          <div class="card-title">우리들의 공간</div>
          <div class="card-hashtag">#대왕계란말이 #만원대</div>
          <div class="card-rating">
            <img
              class="stars_pic"
              src="/static/ratings_4.png"
              alt="card-rating2"
            />
          </div>
        </button>
      </a>

      <a href="/restaurant/detail">
        <button class="card">
          <img class="heart-button" src="/static/heart_filled.png" alt="fav" />
          <div class="card-title">카츠난반</div>
          <div class="card-hashtag">#모듬카츠 #만원대</div>
          <div class="card-rating">
            <img
              class="stars_pic"
              src="/static/ratings_5.png"
              alt="card-rating3"
            />
          </div>
        </button>
      </a>
    </div>

    <a href="/restaurant/my" class="boxMore">
      <h7 class="more"> > 더보기 </h7>
    </a>
  </div>

  <!-- 탈퇴하기 -->
  <div class="quit">
    <a href="#" class="quitbtn"> 탈퇴하기 </a>
  </div>
</section>
{% endblock %}
