{% extends "base.html" %} {% block title %}mypage{% endblock %} {% block css %}
<link href="/static/mypage.css" rel="stylesheet" /> <script src="/static/mypage.js"></script>{% endblock %} {% block
section %}
<!-- 상단바 -->
<section class="topbar">
  <a href="/" class="back-icon">
    <i class="fa solid fa-arrow-left fa-lg"></i>
  </a>
  <div class="title">마이페이지</div>
</section>

<section class="container">
  <!-- 프로필-->
  <div class="profile">
    <div class="profileimg">
      <img class="img" src="/static/profile.png" alt="profile" />
    </div>
    <div class="user">
      <div class="username">{{session['nickname']}}</div>
      <div class="userid">{{session['id']}}</div>
    </div>
  </div>

  <!-- 내가 쓴 리뷰 -->
  <div class="myreview">
    <div class="subtitle-review">내가 쓴 리뷰</div>

    <!-- 리뷰 리스트 -->
    <div class="container">
      <div class="content">
        <ul class="reviews">
          {% if revtot > 0 %} {% for rev in revlist %}
          <li>
            <a
              href="{{url_for('myreview_detail', restaurant=맛집이름, page=loop.index0)}}"
            >
            
            <button class="review">
              <div class="review-pic">
                <img
                  class="pic"
                  src="{{revlist[rev]['img_path']}}"
                  alt="review-pic1"
                />
              </div>
              <div class="review-content">
                <div class="food">{{revlist[rev]['메뉴이름']}}</div>
                <div class="star">
                  {% if revlist[rev]['평점'] == 0 %}
                  <img
                    class="star-pic"
                    src="/static/ratings_empty.png"
                    alt="review-star"
                  />
                  {% elif revlist[rev]['평점'] == 1 %}
                  <img
                    class="star-pic"
                    src="/static/ratings_1.png"
                    alt="review-star"
                  />

                  {% elif revlist[rev]['평점'] == 2 %}
                  <img
                    class="star-pic"
                    src="/static/ratings_2.png"
                    alt="review-star"
                  />

                  {% elif revlist[rev]['평점'] == 3 %}
                  <img
                    class="star-pic"
                    src="/static/ratings_3.png"
                    alt="review-star"
                  />

                  {% elif revlist[rev]['평점'] == 4 %}
                  <img
                    class="star-pic"
                    src="/static/ratings_4.png"
                    alt="review-star"
                  />
                  {% elif revlist[rev]['평점'] == 5 %}
                  <img
                    class="star-pic"
                    src="/static/ratings_5.png"
                    alt="review-star"
                  />
                  {% endif %}
                </div>
                <div class="hashtag">
                #{{revlist[rev]['timePeriod']}} #{{revlist[rev]['waiting']}}
                </div>
              </div>
            </button>
            </a>
          </li>
          {% endfor %} 
        </ul>
      </div>
      </div>
      <!-- 더보기 -->
      <a href="/review/my/list" class="boxMore">
        <h7 class="more"> > 더보기 </h7>
      </a>
      {% else %}
      <div class="menu">등록한 리뷰가 없습니다.</div>
      {% endif %}
    </div>

  <!-- 나의 찜 목록-->
  <div class="mylike">
    <div class="subtitle">나의 찜 목록</div>

    <div class="card-container">
      {% if favtot > 0 %} {% for fav in favlist %}
      <div class="card" onclick="location.href='/restaurant/detail/{{favlist[fav]['맛집이름']}}'" name="isFavorite">
        <a href="{{url_for('my_favor_list', restaurant=favlist[fav]['맛집이름'], location=location, foodtype=foodtype, sort=sort)}}">
          <button class="heart-button" onclick="javascript: form.action='/restaurant/mypagelist/{{favlist[fav]['맛집이름']}}'" name="isFavorite" >
              <img
                alt="favorites"
                src="/static/details.png"
                style="object-position: 0 -30px"
                class="favorites"
                onclick="toggleFavoritesImage(event)"
              />
          </button>
        </a>

        {% if favlist[fav]['vegan']|length == 2 %}
        <div class="card-vegan">
          <img
            class="vegan-pic"
            src="/static/vegan.png"
            alt="vegan-sticker1"
          />
        </div>
        {% else %} {% endif %}

        <div class="card-title">{{favlist[fav]['맛집이름']}}</div>
        {% if favlist[fav]['음식종류']|length <= 1 %}
        <div class="card-hashtag">
          #{{favlist[fav]['음식종류'][0]}}
          <br> #{{favlist[fav]['pricerange']}}
        </div>
        {% else %}
        <div class="card-hashtag">
          #{{favlist[fav]['음식종류'][0]}} #{{favlist[fav]['음식종류'][1]}}
          <br>
          #{{favlist[fav]['pricerange']}}
        </div>
        {% endif %}
        <div class="card-rating">
          {% if 0 <= favlist[fav]['평점'] < 0.5 %}
          <img
            class="stars-pic"
            src="/static/ratings_0.png"
            alt="ratings"
          />
          {% elif 0.5 <= favlist[fav]['평점'] < 1.5 %}
          <img
            class="stars-pic"
            src="/static/ratings_1.png"
            alt="ratings"
          />

          {% elif 1.5 <= favlist[fav]['평점'] < 2.5 %}
          <img
            class="stars-pic"
            src="/static/ratings_2.png"
            alt="ratings"
          />

          {% elif 2.5 <= favlist[fav]['평점']< 3.5 %}
          <img
            class="stars-pic"
            src="/static/ratings_3.png"
            alt="ratings"
          />

          {% elif 3.5 <= favlist[fav]['평점'] < 4.5 %}
          <img
            class="stars-pic"
            src="/static/ratings_4.png"
            alt="ratings"
          />
          {% else %}
          <img
            class="stars-pic"
            src="/static/ratings_5.png"
            alt="ratings"
          />
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
    <a href="/restaurant/my/list" class="boxMore">
      <h7 class="more"> > 더보기 </h7>
    </a>

    {% else %}
    <div class="card-container">
      <div class="none">찜한 맛집이 없습니다.</div>
    </div>
    {% endif %}

    
  </div>

  <!-- 탈퇴하기 -->
  <div class="withdrawl">
    <a href="/withdrawl" class="withdrawlbtn"> 탈퇴하기 </a>
  </div>
</section>
{% endblock %}

