{% extends "base.html" %} {% block title %}restaurant-list{% endblock %} {%
block css %} <link href="/static/restaurant-list.css" rel="stylesheet" /> {%
endblock %} {% block section %}
<section>
  <div class="topbar">
    <a href="/" class="back-icon">
      <i class="fa solid fa-arrow-left fa-lg"></i>
    </a>
    <div class="title">무엇을 잇 해볼화?</div>
    <div class="title-description">이대의 명물, 맛집을 조회해보세요</div>
  </div>

  <div class="content">
    <!-- 위치 선택 -->
    <div class="select-location">
      <h3 class="insert-title">위치</h3>
      <form>
        <div class="filter-container">
          <input type="checkbox" id="all" name="전체" value="전체" />
          <label for="all"> 전체</label>
          <!-- 지도가 들어갑니다 -->
          <div class="upper">
            <div class="map">
              <div class="mapbtn_sch">
                <a href="/restaurant/list" class="sch">
                  <img class="sch_img" src="/static/교내.png" height="150px" />
                </a>

                <div class="mapbtn_sin">
                  <a href="/restaurant/list" class="sin">
                    <img
                      class="sin_img"
                      src="/static/신촌.png"
                      height="150px"
                    />
                  </a>
                </div>
                <div class="mapbtn_idae">
                  <a href="/restaurant/list" class="idae">
                    <img
                      class="idae_img"
                      src="/static/이대.png"
                      height="85px"
                    />
                  </a>
                </div>
                <div class="mapbtn_back">
                  <a href="/restaurant/list" class="back">
                    <img
                      class="back_img"
                      src="/static/후문.png"
                      height="140px"
                    />
                  </a>
                </div>
                <div class="mapbtn_ahyeon">
                  <a href="/restaurant/list" class="ahyeon">
                    <img
                      class="ahyeon_img"
                      src="/static/아현.png"
                      height="150px"
                    />
                  </a>
                </div>
                <div class="mapbtn_hidden">
                  <a href="/restaurant/list">
                    <img
                      class="hidden_img"
                      src="/static/hidden.png"
                      height="50px"
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <!-- 분류 -->
    <h3 class="insert-title">분류</h3>
    <div class="filter-container">
      <form>
        <div class="food-type-container">
          <input type="checkbox" id="food-type1" name="한식" value="한식" />
          <label for="food-type1"> 한식</label>

          <input type="checkbox" id="food-type2" name="중식" value="중식" />
          <label for="food-type2"> 중식</label>

          <input type="checkbox" id="food-type3" name="양식" value="양식" />
          <label for="food-type3"> 양식</label>

          <input type="checkbox" id="food-type4" name="일식" value="일식" />
          <label for="food-type4"> 일식</label>

          <input type="checkbox" id="food-type5" name="카페" value="카페" />
          <label for="food-type5"> 카페</label>

          <input type="checkbox" id="food-type6" name="술" value="술" />
          <label for="food-type6"> 술</label>
        </div>
      </form>
    </div>

    <!-- 리스트 -->
    <section class="list-container">
      <div class="order-category">
        <a href="/restaurant/list">
          <button class="order-category-button">최신순</button>
        </a>
        <a href="/restaurant/list">
          <button class="order-category-button">별점순</button>
        </a>
      </div>

      <div class="card-container">
        {% if total > 0 %} {% for data in datas %}
        <a href="/restaurant/detail/{{datas[data]['맛집이름']}}">
          <button class="card">
            <img class="heart-button" src="/static/heart_empty.png" />
            {% if datas[data]['vegan']|length == 2 %}
            <div class="card-vegan">
              <img
                class="vegan-pic"
                src="/static/vegan.png"
                alt="vegan-sticker1"
              />
            </div>
            {% else %} {% endif %}

            <div class="card-title">{{datas[data]['맛집이름']}}</div>
            {% if datas[data]['음식종류']|length <= 1 %}
            <div class="card-hashtag">
              #{{datas[data]['음식종류'][0]}} #{{datas[data]['pricerange']}}
            </div>
            {% else %}
            <div class="card-hashtag">
              #{{datas[data]['음식종류'][0]}} #{{datas[data]['음식종류'][1]}}
              #{{datas[data]['pricerange']}}
            </div>
            {% endif %}
            <div class="card-rating">
              <img
                class="stars-pic"
                src="/static/ratings_4.png"
                alt="card-rating1"
              />
            </div>
          </button>
        </a>
        {% endfor %}
      </div>

      {% else %}
      <div class="card-container">등록된 맛집이 없습니다.</div>
      {% endif %}

      <!-- 페이지 이동 버튼 -->
      <div class="page-move-wrap">
        <div class="page-nav">
          <ul class="page">
            <li>
              <a href="" class="End">
                <i class="fa-solid fa-chevron-left"></i>
              </a>
            </li>
            <li>
              {% for i in range(page_count)%}
              <a href="{{url_for('restaurant_list', page=i)}}" color="black"
                >{{i+1}}</a
              >
              {% endfor %}
            </li>
            <li>
              <a href="" class="End">
                <i class="fa-solid fa-chevron-right"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</section>
{% endblock %}
