{% extends "base.html" %} {% block title %}review-list{% endblock %} {% block
css %} <link href="/static/review-list.css" rel="stylesheet" /> {% endblock %}
{% block section %}
<!-- 상단바 -->
<section class="topbar">
  <a href="/restaurant/detail/{{맛집이름}}" class="back-icon">
    <i class="fa solid fa-arrow-left fa-lg"></i>
  </a>
  <div class="title">{{맛집이름}} 리뷰 조회하기</div>
  <div class="title-description">
    벗들의 소중한 {{맛집이름}} 후기를 살펴보세요!
  </div>
</section>

<!-- 리뷰 리스트 -->
<section class="container">
  <div class="content">
    <ul class="reviews">
      {% if total > 0 %} {% for data in datas %}
      <li>
        <a
          href="{{url_for('review_detail', restaurant=맛집이름, page=loop.index0)}}"
        >
          <button class="review">
            <div class="review-pic">
              <img
                class="pic"
                src="{{datas[data]['img_path']}}"
                alt="review-pic1"
              />
            </div>
            <div class="review-content">
              <div class="food">{{datas[data]['메뉴이름']}}</div>
              <div class="star">
                {% if datas[data]['평점'] == 0 %}
                <img
                  class="star-pic"
                  src="/static/ratings_empty.png"
                  alt="review-star"
                />
                {% elif datas[data]['평점'] == 1 %}
                <img
                  class="star-pic"
                  src="/static/ratings_1.png"
                  alt="review-star"
                />

                {% elif datas[data]['평점'] == 2 %}
                <img
                  class="star-pic"
                  src="/static/ratings_2.png"
                  alt="review-star"
                />

                {% elif datas[data]['평점'] == 3 %}
                <img
                  class="star-pic"
                  src="/static/ratings_3.png"
                  alt="review-star"
                />

                {% elif datas[data]['평점'] == 4 %}
                <img
                  class="star-pic"
                  src="/static/ratings_4.png"
                  alt="review-star"
                />
                {% elif datas[data]['평점'] == 5 %}
                <img
                  class="star-pic"
                  src="/static/ratings_5.png"
                  alt="review-star"
                />
                {% endif %}
              </div>
              <div class="hashtag">
                #{{datas[data]['timePeriod']}} #{{datas[data]['waiting']}}
              </div>
            </div>
          </button>
        </a>
      </li>
      {% endfor %} {% else %}
      <div class="menu">등록된 리뷰가 없습니다.</div>
      {% endif %}
    </ul>
  </div>
</section>

<!-- 페이지 이동 버튼 -->
<div class="page-move-wrap">
  <div class="page-nav">
    <ul class="page">
      <li>
      {% if page == 0 %}
      {% else %}
        <a href="{{url_for('review_list', restaurant=맛집이름, page=page-1)}}">
          <button class="page-button">
            <i class="fa-solid fa-chevron-left"></i>
          </button>
        </a>
      </li>
      {%endif%}
      <li style="display: flex; gap: 15px">
        {% for i in range(page_count)%}
        <a href="{{url_for('review_list', restaurant=맛집이름, page=i)}}"
          >{{i+1}}</a
        >
        {% endfor %}
      </li>
      <li>
        {% if page+1 == page_count %}
        {% else %}
        <a href="{{url_for('review_list', restaurant=맛집이름, page=page+1)}}">
          <button class="page-button">
            <i class="fa-solid fa-chevron-right"></i>
          </button>
        </a>
        {% endif %}
      </li>
    </ul>
  </div>
</div>
{% endblock %}
