<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        

        .card-container{
            display: flex;
            flex-direction: row;
            justify-content: center;

        }

        .order-category-button{
            background-color: #FFF7BC;
            border: 0px;
        }

        .card{

        }
    </style>

</head>
<body>

    <!-- 리스트 만들어봅시당 -->
    <div class="list-container">
        <div class="order-category">
            <a href="">
                <button class="order-category-button">최신순</button>
            </a>
            <a href="">
                <button class="order-category-button">별점순</button>
            </a>
        </div>

        <div class="card-container">
            <div class="card card1">
                <button class="heart-button"></button>
                <div class="card-title"></div>
                <div class="hashtag-information"></div>
                <div class="rating"></div>
            </div>
            <div class="card card2">
                <button class="heart"></button>
                <div class="card-title"></div>
                <div class="hashtag-information"></div>
                <div class="rating"></div>
            </div>
            <div class="card card3">
                <button class="heart"></button>
                <div class="card-title"></div>
                <div class="hashtag-information"></div>
                <div class="rating"></div>
            </div>
            <div class="card card4">
                <button class="heart"></button>
                <div class="card-title"></div>
                <div class="hashtag-information"></div>
                <div class="rating"></div>
            </div>
            <div class="card card5">
                <button class="heart"></button>
                <div class="card-title"></div>
                <div class="hashtag-information"></div>
                <div class="rating"></div>
            </div>
            <div class="card card6">
                <button class="heart"></button>
                <div class="card-title"></div>
                <div class="hashtag-information"></div>
                <div class="rating"></div>
            </div>
            <div class="card card7">
                <button class="heart"></button>
                <div class="card-title"></div>
                <div class="hashtag-information"></div>
                <div class="rating"></div>
            </div>
            <div class="card card8">
                <button class="heart"></button>
                <div class="card-title"></div>
                <div class="hashtag-information"></div>
                <div class="rating"></div>
            </div>
            <div class="card card9">
                <button class="heart"></button>
                <div class="card-title"></div>
                <div class="hashtag-information"></div>
                <div class="rating"></div>
            </div>
        </div>
    </div>

</body>
</html>