{% extends "base.html" %} {% block title %}restaurant-list{% endblock %} {%
block css %} <link href="/static/theme-list.css" rel="stylesheet" /> <script src="/static/theme-list.js"></script> {%
endblock %} {% block section %}
<section>
    <div class="topbar">
    <a href="/" class="back-icon">
        <i class="fa solid fa-arrow-left fa-lg"></i>
    </a>
    {% if search %}
    <div class="title"><p style="color:#ff8080; display:inline;">{{search}}</p> 검색 결과 입니다.</div>
    {% else %}
    <div class="title">테마별 맛집 추천</div>
    <div class="title-description">이대생들이 엄선한 테마별 맛집들을 둘러보세요!</div>
    {% endif %}
    </div>

    <div class="content">
    <!-- 위치 선택 -->
    <div class="select-location">
        <h3 class="insert-title">위치</h3>
        <form>
        <div class="filter-container">
            <input type="checkbox" id="all" name="전체" value="전체" OnClick="window.location.href='{{url_for('restaurant_list', theme=theme, location='all')}}';" />
            <label for="all"> 전체</label>
            <!-- 지도가 들어갑니다 -->
            <div class="upper">
            <div class="criteria">
                <a href="{{url_for('restaurant_list', theme=theme, location='교내', foodtype=foodtype)}}" class="mapbtn_sch">
                {% if location=='신촌' or location=='정문' or location=='아현' or location=='후문' %}
                <img height="160px" src="/static/교내흑백.png" onmouseover="this.src='/static/교내호버.png'" onmouseout="this.src='/static/교내흑백.png'">
                {% elif location =="교내" %}
                <img height="160px" src="/static/교내.png">
                {% else %}
                <img height="160px" src="/static/교내.png" onmouseover="this.src='/static/교내호버.png'" onmouseout="this.src='/static/교내.png'">
                {% endif %}
                </a>
        
                <a href="{{url_for('restaurant_list', theme=theme, location='신촌',  foodtype=foodtype)}}" class="mapbtn_sin">
                {% if location=='교내' or location=='정문' or location=='아현' or location=='후문' %}
                <img height="135px" src="/static/신촌흑백.png" onmouseover="this.src='/static/신촌호버.png'" onmouseout="this.src='/static/신촌흑백.png'">
                {% elif location =="신촌" %}
                <img height="135px" src="/static/신촌.png">
                {% else %}
                <img height="135px" src="/static/신촌.png" onmouseover="this.src='/static/신촌호버.png'" onmouseout="this.src='/static/신촌.png'">
                {% endif %}
                </a>
        
                <a href="{{url_for('restaurant_list', theme=theme, location='정문',  foodtype=foodtype)}}"  class="mapbtn_idae" />
                {% if location=='신촌' or location=='교내' or location=='아현' or location=='후문' %}
                <img height="90px" src="/static/정문흑백.png" onmouseover="this.src='/static/정문호버.png'" onmouseout="this.src='/static/정문흑백.png'">
                {% elif location =="정문" %}
                <img height="90px" src="/static/정문.png">
                {% else %}
                <img height="90px" src="/static/정문.png" onmouseover="this.src='/static/정문호버.png'" onmouseout="this.src='/static/정문.png'">
                {% endif %}
            </a>
        
                <a href="{{url_for('restaurant_list', theme=theme, location='후문', foodtype=foodtype)}}" class="mapbtn_back">
                {% if location=='신촌' or location=='정문' or location=='아현' or location=='교내' %}
                <img height="150px" src="/static/후문흑백.png" onmouseover="this.src='/static/후문호버.png'" onmouseout="this.src='/static/후문흑백.png'">
                {% elif location =="후문" %}
                <img height="150px" src="/static/후문.png">
                {% else %}
                <img height="150px" src="/static/후문.png" onmouseover="this.src='/static/후문호버.png'" onmouseout="this.src='/static/후문.png'">
                {% endif %}
                </a>
        
                <a href="{{url_for('restaurant_list', theme=theme, location='아현',  foodtype=foodtype)}}" class="mapbtn_ahyeon">
                {% if location=='신촌' or location=='정문' or location=='교내' or location=='후문' %}
                <img src="/static/아현흑백.png" height="150px" onmouseover="this.src='/static/아현호버.png'" onmouseout="this.src='/static/아현흑백.png'">
                {% elif location =="아현" %}
                <img height="150px" src="/static/아현.png">
                {% else %}
                <img src="/static/아현.png" height="150px" onmouseover="this.src='/static/아현호버.png'" onmouseout="this.src='/static/아현.png'">
                {% endif %}
                </a>
            </div>
        </div>
        </form>
    </div>



    <!-- 분류 -->
    <h3 class="insert-title">분류</h3>
    <div class="filter-container">
        <form>
        <div class="food-type-container">
            {% if foodtype=='한식' %}
            <input type="checkbox" id="food-type1" name="한식" value="한식" checked OnClick="window.location.href='{{url_for('restaurant_list', theme=theme, foodtype='all', location=location)}}';" />
            {% else %}
            <input type="checkbox" id="food-type1" name="한식" value="한식" OnClick="window.location.href='{{url_for('restaurant_list', theme=theme, foodtype='한식', location=location)}}';" />
            {% endif %}
            <label for="food-type1"> 한식</label>

            {% if foodtype=='중식' %}
            <input type="checkbox" id="food-type2" name="중식" value="중식" checked OnClick="window.location.href='{{url_for('restaurant_list', theme=theme, foodtype='all', location=location)}}';" />
            {% else %}
            <input type="checkbox" id="food-type2" name="중식" value="중식" OnClick="window.location.href='{{url_for('restaurant_list', theme=theme, foodtype='중식', location=location)}}';" />
            {% endif %}
            <label for="food-type2"> 중식</label>

            {% if foodtype=='양식' %}
            <input type="checkbox" id="food-type3" name="양식" value="양식" checked OnClick="window.location.href='{{url_for('restaurant_list', theme=theme, foodtype='all', location=location)}}';" />
            {% else %}
            <input type="checkbox" id="food-type3" name="양식" value="양식" OnClick="window.location.href='{{url_for('restaurant_list', theme=theme, foodtype='양식', location=location)}}';" />
            {% endif %}
            <label for="food-type3"> 양식</label>

            {% if foodtype=='일식' %}
            <input type="checkbox" id="food-type4" name="일식" value="일식" checked OnClick="window.location.href='{{url_for('restaurant_list', theme=theme, foodtype='all', location=location)}}';" />
            {% else %}
            <input type="checkbox" id="food-type4" name="일식" value="일식" OnClick="window.location.href='{{url_for('restaurant_list', theme=theme, foodtype='일식',location=location)}}';" />
            {% endif %}
            <label for="food-type4"> 일식</label>

            {% if foodtype=='카페' %}
            <input type="checkbox" id="food-type5" name="카페" value="카페" checked OnClick="window.location.href='{{url_for('restaurant_list', theme=theme, foodtype='all',location=location)}}';" />
            {% else %}
            <input type="checkbox" id="food-type5" name="카페" value="카페" OnClick="window.location.href='{{url_for('restaurant_list', theme=theme, foodtype='카페',location=location)}}';" />
            {% endif %}
            <label for="food-type5"> 카페</label>

            {% if foodtype=='술' %}
            <input type="checkbox" id="food-type6" name="술" value="술" checked OnClick="window.location.href='{{url_for('restaurant_list', theme=theme, foodtype='all',location=location)}}';" />
            {% else %}
            <input type="checkbox" id="food-type6" name="술" value="술" OnClick="window.location.href='{{url_for('restaurant_list', theme=theme, foodtype='술',location=location)}}';" />
            {% endif %}
            <label for="food-type6"> 술</label>
        </div>
        </form>
    </div>

    <!-- 리스트 -->
    <section class="list-container">
        <div class="order-category">
            {% if sort=='newest' %}
            <a href="{{url_for('restaurant_list', theme=theme, location=location, foodtype=foodtype, sort='newest')}}">
              <button id="order-category-button-one" class="order-category-button-active">최신순</button>
            </a>
            {% else %}
            <a href="{{url_for('restaurant_list', theme=theme, location=location, foodtype=foodtype, sort='newest')}}">
              <button id="order-category-button-one" class="order-category-button" >최신순</button>
            </a>
            {% endif %}
            {% if sort=='best' %}
            <a href="{{url_for('restaurant_list', theme=theme, location=location, foodtype=foodtype, sort='best')}}">
              <button id="order-category-button-second" class="order-category-button-active">별점순</button>
            </a>
            {% else %}
            <a href="{{url_for('restaurant_list', theme=theme, location=location, foodtype=foodtype, sort='best')}}">
              <button id="order-category-button-second" class="order-category-button">별점순</button>
            </a>
            {% endif %}
        </div>

        <div class="card-container">
        {% if total > 0 %} {% for data in datas %}
        <!-- 주소 "/restaurant/detail/{{datas[data]['맛집이름']}}" -->
        <div class="card" onclick="location.href='/restaurant/detail/{{datas[data]['맛집이름']}}'">
            {% if heart[datas[data]['맛집이름']] %}
            <a href="{{url_for('my_favori_list', restaurant=datas[data]['맛집이름'], theme=theme, location=location, foodtype=foodtype, sort=sort)}}">
                <button class="heart-button" onclick="javascript: form.action='/restaurant/mylist/{{datas[data]['맛집이름']}}'" name="isFavorite" >
                <img
                    alt="favorites"
                    src="/static/details.png"
                    style="object-position: 0 -30px"
                    class="favorites"
                    onclick="toggleFavoritesImage(event)"
                />
                </button>
            </a>
            {% else %}
            <a href="{{url_for('my_favori_list', restaurant=datas[data]['맛집이름'], theme=theme, location=location, foodtype=foodtype, sort=sort)}}">
                <button class="heart-button" onclick="javascript: form.action='/restaurant/mylist/{{datas[data]['맛집이름']}}'" name="isFavorite" >
                <img
                    alt="favorites"
                    src="/static/details.png"
                    style="object-position: 0 0"
                    class="favorites"
                    onclick="toggleFavoritesImage(event)"
                />
                </button>
            </a>
            {% endif %}

            {% if datas[data]['vegan']|length == 2 %}
            <div class="card-vegan">
            <img
                class="vegan-pic"
                src="/static/vegan.png"
                alt="vegan-sticker1"
            />
            </div>
            {% else %} {% endif %}

            <div class="card-title">{{datas[data]['맛집이름']}}</div>
            {% if datas[data]['음식종류']|length <= 1 %}
            <div class="card-hashtag">
            #{{datas[data]['음식종류'][0]}}
            <br> #{{datas[data]['pricerange']}}
            </div>
            {% else %}
            <div class="card-hashtag">
            #{{datas[data]['음식종류'][0]}} #{{datas[data]['음식종류'][1]}}
                <br>
            #{{datas[data]['pricerange']}}
            </div>
            {% endif %}
            <div class="card-rating">
            <img
                class="stars-pic"
                src="/static/ratings_4.png"
                alt="card-rating1"
            />
            </div>
        </div>
        {% endfor %}
        </div>

        {% else %}
        <div class="card-container">등록된 맛집이 없습니다.</div>
        {% endif %}

        <!-- 페이지 이동 버튼 -->
        <div class="page-move-wrap">
        <div class="page-nav">
            <ul class="page">

            <li>
            {% if page == 0 %}
            {% else %}
                <a href="{{url_for('restaurant_list', theme=theme, location=location, foodtype=foodtype, sort=sort, page=page-1)}}">
                <button class="page-button">
                    <i class="fa-solid fa-chevron-left"></i>
                </button>
                </a>
            </li>
            {%endif%}
            <li style="display: flex; gap: 15px">
                {% for i in range(page_count)%}
                <a href="{{url_for('restaurant_list', theme=theme, location=location, foodtype=foodtype, sort=sort, page=i)}}" color="black"
                >{{i+1}}</a
                >
                {% endfor %}
            </li>
            <li>
                {% if page+1 == page_count %}
                {% else %}
                <a href="{{url_for('restaurant_list', theme=theme, location=location, foodtype=foodtype, sort=sort, page=page+1)}}">
                <button class="page-button">
                    <i class="fa-solid fa-chevron-right"></i>
                </button>
                </a>
                {% endif %}
            </li>
            </ul>
        </div>
        </div>
    </section>
    </div>
</section>
{% endblock %}
    